.admintitle{
	background-color: #530602;
	color: #fff;
	margin-left: 100px;
	margin-right: 100px;
	

}
.dashboard{
	background-color: #1DEFEF;
	color: #000;
	margin-left: 100px;
	margin-right: 100px;
	font-size: 25px;
}
